.order__body {
    background-color: #fff;

    &_in {
        padding: 60px 0 200px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        
    }

    &_main {
        width: calc(100% - 394px - 30px);
        
        &_part {
            margin-bottom: 50px;

            &_head {
                display: flex;
                align-items: center;
                margin-bottom: 35px;
                &_icon {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F9FAFD;
                    backdrop-filter: blur(10px);
                    margin-right: 20px;

                    img {
                        width: 22px;
                        height: 22px;
                        object-fit: contain;
                        display: flex;
                    }
                }

                &_text {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 125%;
                }
            }

            &_body {
                background: #F9FAFD;
                backdrop-filter: blur(10px);
                /* Note: backdrop-filter has minimal browser support */
                
                border-radius: 8px;
                padding: 40px;

                

                &_input {

                    &_name {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 135%;
                        color: #99A8B4;
                        margin-bottom: 10px;
                    }

                    &_in {
                        display: flex;

                    }

                    &_el {
                        padding: 20px;
                        background: #FFFFFF;
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 135%;
                        display: block;
                        width: 100%;
                        margin: 0 5px;

                        &::placeholder {
                            color: #E3E8EC;
                        }
                    }

                    &_el {

                        &:disabled {
                            opacity: .5;
                            pointer-events: none;
                            
                        }
                    }
                }
            }

            &_action {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 20px 0;

                &_pay {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 135%;
                    color: #99A8B4;
                    position: relative;
                    padding-left: 60px;

                    &:after {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-image: url('../img/icons/lock.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 20px;
                        content: '';
                        top: calc(50% - 20px);
                        left: 0;
                        background-color: #F9FAFD;
                        border-radius: 8px;
                    }
                }

                &_btn {
                    position: relative;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    padding-left: 30px;
                    &:after {
                        position: absolute;
                        content: '';
                        background-image: url('../img/icons/plus.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 20px;    
                        height: 20px;
                        top: calc(50% - 10px);
                        left: 0;

                    }
                }
            }

            &_body-guestData {

                &_main {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: 30px;

                    &_input-name {
                        width: calc(100% / 3.1);

                        &_toggle {
                            margin-top: 20px;

                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;

                            label {
                                display: flex;
                                align-items: center;
                                cursor: pointer;

                                input {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }

                &_passport {

                    &_tabs {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        &_item {
                            margin: 0 5px;
                            color: $text;
                            border: 1px solid #E3E8EC;
                            @include def-anim;
                            font-size: 14px;
                            padding: 10px;
                            border-radius: 8px;
                            cursor: pointer;
                            font-weight: 600;

                            &:hover {
                                background-color: $text;
                                border-color: $text;
                                color: #fff;
                            }
                        }

                        &_item.active {
                            background-color: $green;
                            border-color: $green;
                            color: #fff;
                        }
                    }

                    &_content {
                        display: none;
                        &_row {
                            display: flex;
                            align-items: flex-end;
                            margin-bottom: 20px;
                        }

                        &_item {

                        }

                        &_item-vendor {
                            width: 100%;
                        }
                    }

                    &_content.active {
                        display: block;
                    }
                }
                
            }

            &_body-contacts {
                display: flex;
                justify-content: space-between;

                &_item {
                    width: 50%;
                }
            }

            &_body-ex {

                &_text {
                    padding-bottom: 50px;
                    border-bottom: 1px solid #E7E9F2;

                    &_name {
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    &_el {
                        background: #FFFFFF;
                        border-radius: 8px;
                        padding: 20px;
                        height: 150px;
                        resize: none;
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        line-height: 135%;
                        margin-bottom: 20px;

                        &::placeholder {
                            color: #E3E8EC;
                        }
                    }

                    &_ch {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        cursor: pointer;
                        input { 
                            margin-right: 10px;
                        }
                    }
                }

                &_enter {
                    padding-top: 40px;

                    &_name {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 145%;
                        margin-bottom: 20px;
                    }

                    &_list {
                        display: flex;
                        flex-wrap: wrap;
                        
                    }

                    &_item {
                        width: 130px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        padding: 10px 5px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 135%;
                        text-align: center;
                        color: #99A8B4;
                        background: #FFFFFF;
                        border-radius: 8px;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        @include def-anim;

                        &:hover {
                            background-color: $text;
                            color: #fff;
                        }
                    }

                    &_item.active {
                        background-color: $green;
                        color: #fff;
                        
                    }
                }

            }

            &_body-payment {

                &_top {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 50px;

                    &_item {
                        width: 100%;
                    }
                }

                &_bottom {
                    display: flex;

                    &_tm {
                        width: 180px;
                        flex: 0 0 auto;

                        span {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 125%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    
                    // &_cvc {
                    //     min-width: 180px;
                        
                    // }

                    &_icns {
                        display: flex;
                        align-items: flex-end;

                        &_item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 7px;
                            img {
                                display: flex;
                            }
                        }
                    }

                }
            }

            
        }
    }

    &_ex {
        width: 394px;
        background: #FFFFFF;
        /* Text / Light Grey */
        margin-top: 75px;

        border: 1px solid #E3E8EC;
        border-radius: 8px;
        padding: 40px;

        &_name {
            font-weight: 600;
            font-size: 24px;
            line-height: 125%;
            margin-bottom: 2px;
            margin-bottom: 20px;
        }

        &_num {
            color: $green;
            font-weight: 600;
            font-size: 24px;
            line-height: 165%;
            margin-bottom: 15px;
        }

        &_info {
            font-weight: 500;
            font-size: 14px;
            line-height: 145%;
            color: #99A8B4;
            margin-bottom: 20px;
        }

        &_promo {
            margin-bottom: 60px;

            &_head {
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 14px;
                line-height: 125%;
                /* identical to box height, or 18px */


                /* Text / Grey */

                color: #99A8B4;
            }

            &_body {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &_inp {
                    font-size: 14px;
                    line-height: 135%;
                    padding: 20px 0;
                    border-bottom: 1px solid #99A8B4;
                    width: 55%;
                }

                &_btn {
                    padding: 15px 30px;
                    border: 1px solid #E3E8EC;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                    @include def-anim;
                    width: 45%;

                    &:hover {
                        background-color: $text;
                        border-color: $text;
                        color: #fff;
                    }
                }
            }
        }

        &_list {
            margin-bottom: 20px;

            &_item {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 125%;
                padding: 15px 0;
                border-bottom: 1px solid #E7E9F2;

                &:last-child {
                    border: none;
                }

                &_name {
                    width: 49%;
                }

                &_val {
                    width: 49%;
                    text-align: right;
                }
            }

            &_item.green {
                color: $green;
            }

            &_item.total {
                padding-top: 30px;

                .order__body_ex_list_item_val {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 125%;
                }
            }
        }

        &_action {
            display: flex;
            align-items: center;
            justify-content: center;

            &_btn {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1100px) {

    .order__body {

        &_main {
            &_part {

                &_body-payment {

                    &_bottom {
                        flex-wrap: wrap;

                        &_icns {
                            width: 100%;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .order__body {

        &_in {

        }

        &_main {

            &_part {

                &_body {
                    padding: 20px;
                    &_input {

                        &_el {
                            margin: 0;
                        }
                    }
                }

                &_body-guestData {

                    &_main {
                        flex-wrap: wrap;

                        &_input-name {
                            width: 100%;
                            margin-bottom: 15px;
                        }
                    }

                    &_passport {

                        &_tabs {
                            flex-wrap: wrap;
                            &_item {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                margin-bottom: 10px;
                            }
                        }

                        &_content {

                            &_row {
                                flex-wrap: wrap;
                            }

                            &_item {
                                width: 100%;
                                margin-bottom: 15px;


                            }

                            &_item input {
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &_body-contacts {
                    flex-wrap: wrap;

                    &_item {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }

                &_body-payment {

                    &_top {
                        flex-wrap: wrap;

                        &_item {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }

                    &_bottom {
                        justify-content: space-between;

                        &_tm {
                            width: 48%;

                            span {
                                margin: 0 5px;
                            }
                        }

                        &_cvc {
                            width: 48%;
                            min-width: unset;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .order__body {

        &_in {
            flex-wrap: wrap;
        }

        &_main {
            width: 100%;
        }

        &_ex {
            width: 100%;
        }
    }
}

@media (max-width: 520px) {

    .order__body {

        &_in {
            padding-bottom: 100px;
        }

        &_ex {
            padding: 20px;

            &_promo {
                &_body {
                    flex-wrap: wrap;

                    &_inp {
                        width: 100%;
                        margin-bottom: 15px;
                    }

                    &_btn {
                        width: 100%;
                    }
                }
            }
        }


        &_main {

            &_part {

                &_head {

                    &_text {
                        font-size: 18px;
                    }
                }
                &_body-ex {

                    &_enter {

                        &_list {
                            justify-content: space-between;

                        }

                        &_item {
                            width: 48%;margin-right: 0;
                            margin-bottom: 15px;
                        }
                    }
                }

                &_body-payment {

                    &_bottom {

                        &_tm {
                            width: 100%;
                            margin-bottom: 10px;
                        }

                        &_cvc {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}