.article {

    &__in {

    }

    &__head {
        position: relative;
        margin-bottom: 60px;
        &_action {
            display: inline-flex;
            align-items: center;
            position: relative;
            z-index: 10;

            &:hover {
                .article__head_action_btn {
                    background-color: $green;
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                .article__head_action_text {
                    color: $green;
                }
            }

            &_btn {
                display: flex;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: #F3F5FA;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(180deg);
                margin-right: 20px;
                @include def-anim;

                svg {
                    path {
                        @include def-anim;
                    }
                }
                
                
            }

            &_text {
                font-weight: 500;
                @include def-anim;
            }

            
        }
        &_line {
            position: absolute;
            top: calc(50% - (2px / 2));
            right: 0;
            width: calc(100% - 211px);
            height: 2px;
            background-color: #E3E8EC;

        }
    }

    &__body {
        max-width: 1020px;
        width: 100%;
        margin: 0 0 0 auto;

        &_head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;

            &_info {
                font-weight: 500;
                font-size: 20px;
                line-height: 135%;
                &_day {
                    font-weight: 600;
                    font-size: 74px;
                    line-height: 135%;
                    color: $green;
                }

                &_month {
                    margin-bottom: 10px;
                    
                }

                &_year {

                }
            }


            &_title {
                font-weight: 600;
                font-size: 36px;
                line-height: 135%;
                max-width: 700px;
            }
        }

        &_part {
            margin-bottom: 30px;
            &_title {
                max-width: 700px;
                width: 100%;
                margin: 0 0 0 auto;
                padding-right: 60px;
                margin-bottom: 30px;
                font-weight: 600;
                font-size: 20px;
                line-height: 145%;
            }
            &_p {
                padding-right: 60px;
                max-width: 700px;
                width: 100%;
                margin: 0 0 0 auto;
                margin-bottom: 30px;
                
            }

            &_img {
                max-width: 700px;
                width: 100%;
                margin: 0 0 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }
        }

        &_ms {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 60px;
            &_at {
                flex: 0 0 auto;
                &_img {
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: flex;
                    }
                }

                &_descr {

                    &_name {
                        font-weight: 500;
                    }

                    &_pr {
                        color: #99A8B4;
                        font-weight: 500;
                    }
                }
            }

            &_text {
                max-width: 700px;
                width: 100%;
                margin: 0 0 0 auto;
                padding: 40px;
                background: #F2F4F9;
                position: relative;

                &:after {
                    position: absolute;
                    content: url('../img/icons/article-triangle.svg');
                    top: 0;
                    left: -30px;

                }
            }
        }
    }
}

@media (max-width: 1000px) {

    .article {

        &__in {

        }

        &__head {
            padding-bottom: 20px;
            border-bottom: 1px solid #E3E8EC;
            margin-bottom: 40px;
            &_line {
                display: none;
            }
        }


        &__body {

            &_head {
                flex-wrap: wrap;
                margin-bottom: 40px;
                &_info {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;

                    &_x {
                        margin-left: 20px;
                    }
                }
                &_title {
                    width: 100%;
                    max-width: unset;
                }
            }

            &_part {

                &_p {
                    max-width: unset;
                    padding: 0;
                }

                &_title {
                    max-width: unset;
                    padding: 0;
                }

                &_img {
                    max-width: unset;
                }
            }

            &_ms {
                flex-wrap: wrap;

                &_at {

                }

                &_text {
                    max-width: unset;
                    order: -1;
                    margin-bottom: 60px;

                    &:after {
                        top: unset;
                        bottom: -35px;
                        left: 0;
                        transform: scale(-1, 1);
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {

    .article {

        

        &__body {
            &_head {

                &_title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 135%;
                }
            }

            &_ms {
                margin-bottom: 20px;

                &_text {
                    margin-bottom: 30px;
                    padding: 25px;
                }

                &_at {

                    &_img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            &_part {
                margin-bottom: 20px;
                &_title {
                    margin-bottom: 20px;
                }

                &_p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}