.contacts-page {

    &__in {
        padding: 20px 0 86px;
    }

    &__head {
        margin-bottom: 20px;
    }

    &__body {
        margin-bottom: 170px;
        display: flex;
        justify-content: space-between;

        &_main {
            
            width: calc(100% - 430px);
            padding-top: 30px;
            border-top:  1px solid #E3E8EC;
            &_tabs {
                display: flex;
                align-items: center;
                margin-bottom: 70px;

                &_item {
                    margin-right: 40px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    /* identical to box height, or 22px */
                    @include def-anim;
                    cursor: pointer;

                    color: #8A94AB;

                    &:hover {
                        color: $text;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }

                &_item.active {
                    color: $text;
                }
            }

            &_tabscontent {

                &_item {
                    height: 240px;
                    background: #F2F4F9;
                    border-radius: 8px;
                    display: none;

                    padding: 40px;
                    
                    justify-content: space-between;

                    &_part {
                        width: 49%;    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        

                        &_item {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            &_head{
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 135%;
                                /* identical to box height, or 22px */

                                margin-bottom: 10px;
                                /* Text / Grey */

                                color: #99A8B4;
                            }

                            &_value {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 155%;
                            }
                        }
                    }
                }

                &_item.active {
                    display: flex;
                    @include fade-tab;
                }
            }
        }

        &_ex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #E3E8EC;
            padding: 40px;
            width: 400px;

            &_head {
                font-weight: 600;
                font-size: 24px;
                line-height: 125%;
            }

            &_info {

                &_tel {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 125%;
                    margin-bottom: 10px;
                    color: $green;
                    display: block;
                }

                &_mail {
                    font-weight: 500;
                    display: block;
                }


            }

            &_action {
                &_btn {
                    padding: 21px 39px;
                    background: $green;
                    border-radius: 100px;
                    color: #fff;
                    font-weight: 600;
                    @include def-anim;
                    cursor: pointer;

                    &:hover {
                        background-color: $text;
                    }
                }
            }
        }
    }
}