.login {

    &__in {
        padding: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__form {
        position: relative;
        z-index: 2;
        flex: 0 0 auto;
        &_el {
            width: 606px;
            padding: 60px;
            background: #F9FAFD;
            backdrop-filter: blur(10px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 16px;

            &_head {
                margin-bottom: 100px;
                
            }



            &_title {
                margin-bottom: 2px;
                font-weight: 600;
                font-size: 28px;
                line-height: 145%;
                margin-bottom: 20px;
            }

            &_text {
                font-weight: 500;
                font-size: 16px;
                line-height: 155%;
                font-weight: 500;
            }

            &_flds {
                display: flex;
                align-items: center;
                margin-left: -20px;
                margin-right: -20px;
                flex-wrap: wrap;

                &_item {
                    margin: 10px 20px;
                }

                &_input.login__form_el_flds_input-valid {
                    &:after {
                        display: none;
                    }
                    .login__form_el_flds_input_el {
                        border-color: $green;
                        padding-right: 0;
                    }
                    .login__form_el_flds_input_message {
                        display: none;
                    }
                }

                &_input.login__form_el_flds_input-error {
                    position: relative;
                    &:after {
                        position: absolute;
                        top: calc(27px - (20px / 2));
                        right: 0;
                        content: url('../img/icons/input-error.svg');
                        width: 20px;
                        height: 20px;
                    }

                    .login__form_el_flds_input_el {
                        border-color: 
                        #EB5757;
                        padding-right: 25px;

                       
                    }
                    .login__form_el_flds_input_message {
                        display: block;
                        color: 
                        #EB5757;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 155%;
                        margin-top: 10px;
                    }
                }
                &_input {
                    width: calc(60% - 40px);

                    &_el {
                        width: 100%;
                        display: block;
                        padding: 14px 0;
                        
                        border-bottom: 2px solid #99A8B4;
                        @include def-anim;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 155%;

                        

                        &:focus {
                            border-color: $green;
                        }
                    }

                    &_message {
                        display: none;
                    }
                    
                }

                &_btn {
                    width: calc(40% - 40px);
                }

                &_ex {
                    margin-top: 40px;
                    width: 100%;
                    &_text {

                    }

                    &_btn {
                        color: $green;
                        cursor: pointer;
                        display: inline-block;
                    }
                }
            }

            &_action {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 150px;

                &_btn {
                    padding: 15px 34px;
                    border-radius: 25px;
                    border: 1px solid #E3E8EC;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 135%;
                    @include def-anim;

                    &:hover {
                        background-color: $text;
                        border-color: $text;

                        .login__form_el_action_btn_text {
                            color: #fff;
                        }
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                    &_text {
                        font-weight: 600;
                        @include def-anim;
                    }
                }

                &_name {
                    margin-right: 20px;
                    font-weight: 500;
                }

                &_ex {
                    width: 100%;
                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 155%;
                    color: #99A8B4;
                    opacity: 0.6;
                }
            }
        }   
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        padding-left: 5%;
        justify-content: space-between;

        &_img {
            margin-top: 70px;
            width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
        }   

        &_big {
            font-weight: 600;
            font-size: 120px;
            line-height: 155%;
            width: 100%;            
            letter-spacing: -0.01em;

            color: #E3E8EC;
        }

        &_small {
            font-weight: 500;
            font-size: 26px;
            line-height: 125%;
            width: 50%;
            color: #99A8B4;
        }

        &_links {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 3;
            position: relative;
            width: 50%;

            &_item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid #E3E8EC;
                margin-right: 20px;
                flex: 0 0 auto;
                &:last-child {
                    margin-right: 0;
                }

                &_icon {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        path {
                            @include def-anim;
                            stroke: $text;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .login {

        &__content {

            &_small {
                width: 100%;
                margin-bottom: 20px;
            }

            &_links {
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 1000px) {

    .login {

        &__in {
            flex-wrap: wrap;
        }

        &__form {
            width: 100%;
            &_el {
                width: 100%;
                max-width: unset;
            }
        }

        &__content {
            width: 100%;
            align-items: flex-start;
            padding-left: 0;

        }
    }
}

@media (max-width: 768px) {

    .login {

        &__in {

        }

        &__form {
            margin-bottom: 35px;
            &_el {
                padding: 60px 40px 25px 40px;

                &_head {
                    margin-bottom: 80px;
                }
                
                &_title {
                    text-align: center;
                }

                &_text {
                    text-align: center;
                }

                &_flds {
                    margin-left: 0;
                    margin-right: 0;
                    &_item {
                        width: 100%;
                        margin: 0;
                        margin-bottom: 20px;
                    }

                    &_ex {
                        margin-bottom: 0;
                        margin-top: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &_text {
                            text-align: center;
                        }

                        &_btn {
                            text-align: center;
                        }
                    }
                }

                &_action {

                    &_name {
                        margin-right: 0;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 15px;
                    }

                    &_btn {
                        width: 100%;
                    }

                    &_ex {
                        text-align: center;
                    }
                }
            }
        }

        &__content {


            &_big {
                font-size: 80px;
            }

            &_small {
                font-size: 24px;
                max-width: unset;
                margin-bottom: 20px;
            }

            &_links {
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 500px) {

    .login {

        &__content {

            &_big {
                font-size: 60px;
            }
        }
    }
}