.product {

    &__in {

    }

    &__hero {
        position: relative;

        .bc {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
        }


        &_slider {

            &_wr {

            }

            &_sl {

                &_main {
                    position: relative;
                    &_img {
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }

                    &_content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        display: flex;
                        align-items: flex-end;
                        padding: 50px 0;

                        &_in {
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                        }

                        &_descr {
                            max-width: 571px;
                            width: 100%;
                            &_title {
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 115%;
                                margin-bottom: 28px;
                            }

                            &_ex {
                                font-weight: 600;
                            }
                        }
                        &_action {
                            display: flex;
                            align-items: flex-end;

                            &_item {
                                margin: 0 14px;

                                &:first-child {
                                    margin-left: 0;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                            &_value {
                                display: flex;
                                align-items: center;
                                &_icon {
                                    width: 24px;
                                    height: 24px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 100%;
                                    background-color: #fff;
                                    flex: 0 0 auto;
                                    margin-right: 20px;
                                }

                                &_text {
                                    font-weight: 500;
                                    max-width: 176px;
                                    width: 100%;
                                }
                            }

                            &_btn {

                            }
                        }
                    }
                }

                &_info {

                    &_main {
                        display: flex;
                        align-items: flex-start;
                        padding: 40px 0 20px 0;
                        

                        &_list {
                            display: flex;
                            align-items: center;    
                            flex-wrap: wrap;
                            flex: 1 0 auto;
                        }

                        &_item {
                            margin-right: 115px;
                            margin-bottom: 20px;

                            &_name {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 135%;
                                margin-bottom: 6px;
                                
                                color: #99A8B4;
                            }

                            &_value {
                                font-weight: 600;
                            }
                        }

                        &_ind {
                            width: 200px;
                            display: flex;
                            flex: 0 0 auto;

                            &_nav {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &_item {
                                    width: 50px;
                                    height: 50px;
                                    margin: 0 5px;
                                    background-image: url('../img/icons/chevron-black.svg');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 24px 24px;
                                    background-color: #F3F5FA;
                                    border-radius: 100%;
                                    cursor: pointer;
                                    @include def-anim;

                                    &:hover {
                                        transform: scale(1.1);
                                        background-color: $green;
                                    }
                                }

                                &_item-prev {
                                    transform: rotate(180deg);

                                    &:hover {
                                        transform: rotate(180deg) scale(1.1);
                                    }
                                }
                            }
                        }
                    }

                    &_action {
                        padding: 16px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        &_tabs {
                            display: flex;
                            align-items: center;

                            &_item.active {
                                color: $green;
                            }

                            &_item {
                                margin-right: 40px;
                                cursor: pointer;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 135%;
                                @include def-anim;

                                &:hover {
                                    color: $green;
                                }
                                
                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            &_item-more {
                                display: flex;
                                align-items: center;

                                &_btn {
                                    width: 29px;
                                    height: 29px;
                                    border-radius: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #F3F5FA;
                                    cursor: pointer;
                                    background-image: url('../img/icons/more.svg');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 15px 3px;
                                    margin-left: 16px;
                                }
                            }
                        }

                        &_btns {
                            display: flex;
                            align-items: center;

                            &_item {
                                flex: 0 0 auto;
                                margin: 0 30px;

                                &:first-child {
                                    margin-left: 0;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        
    }


    &__descr {

        &_in {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 60px 0;
        }

        &_main {
            max-width: 500px;
            &_title {
                margin-bottom: 40px;
                font-weight: 600;
                font-size: 28px;
                line-height: 145%;
            }

            &_text {
                margin-bottom: 80px;
            }

            &_list {    
                display: flex;
            }

            &_item {
                margin: 0 15px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &_main {
                    height: 160px;
                    background-color: #99A8B4;
                    border-radius: 8px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }


                }

                &_name {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                }
            }

            &_item-video {

                width: 288px;
            }

            &_item-plc {
                width: 180px;
            }
        }

        &_chars {
            max-width: 500px;
            width: 100%;
            border: 1px solid #E3E8EC;
            border-radius: 8px;
            padding: 45px 40px;
            &_part {

                &_head {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 125%;
                    margin-bottom: 50px;
                }

                &_list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                &_item.fill {
                    width: 100%;
                }
                &_item {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 35px;

                    &_icon {
                        margin-right: 25px;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        border: 1px solid #E3E8EC;
                        flex: 0 0 auto;
                        display: flex;  
                        align-items: center;
                        justify-content: center;
                    }

                    &_body {
                        &_name {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 135%;
                            color: #99A8B4;
                        }

                        &_value {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    &__tm {


        &_in {
            display: flex;
            align-items: flex-start;
            padding: 80px 0;
        }

        &_tabs {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column-reverse;

            &_item.active ~ .product__tm_tabs_item {
                color: $green;

                &:after {
                    background-color: $green;
                }

                &::before {
                    background-color: $green;
                }
            }

            &_item.active {
                color: $green;

                &:after {
                    background-color: $green;
                }

                // &::before {
                //     background-color: $green;
                // }
            }


            &_item {
                padding-bottom: 27px;
                padding-left: 32px;
                position: relative;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                cursor: pointer;

                &:hover {
                    color: $green;
                }

                &:hover ~ .product__tm_tabs_item {
                    color: $green;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 1px;
                    height: 100%;
                    content: '';
                    background-color: #99A8B4;

                }

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    background-color: #99A8B4;
                    content: '';
                    border-radius: 100%;
                }
                &:first-child {
                    padding-bottom: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        &_tabscontent {
            max-width: 1030px;
            width: 100%;


            &_item.active {
                display: flex;
            }
            &_item {
                display: none;

                &_descr {
                    background-color: #fff;
                    padding: 40px;
                    max-width: 424px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    &_head {
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 145%;
                    }

                    &_text {
                        font-weight: 500;
                    }
                }

                &_slider {
                    // flex: 1 0 auto;

                    &_wr {

                    }

                    &_sl {
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }

                    &_nav {
                        position: absolute;
                        z-index: 2;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background-color: #fff;
                        opacity: .8;
                        top: calc(50% - (40px / 2));
                        cursor: pointer;
                        @include def-anim;
                        background-image: url('../img/icons/chevron-black.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 20px 20px;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &_nav-prev {
                        left: 30px;
                        transform: rotate(180deg);
                    }

                    &_nav-next {
                        right: 30px;
                    }

                    &_pag {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        bottom: 30px !important;
                        left: 0;
                        z-index: 3;

                        &_item {
                            width: 4px;
                            height: 4px;
                            background-color: #fff;
                            opacity: .4;
                            @include def-anim;
                            border-radius: 100%;
                            display: block;
                            margin: 0 7px;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        &_item.active {
                            transform: scale(1.8);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    &__sq {
        background-color: #263044;
        &_in {
            padding: 100px 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

        }

        &_body {
            max-width: 604px;
            width: 100%;
            color: #fff;

            &_head {
                margin-bottom: 50px;
                &_title {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 125%;
                    margin-bottom: 20px;
                }

                &_subtitle {
                    opacity: 0.6;
                }
            }

            &_content {

                &_plan {
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }
        }

        &_action {
            max-width: 500px;
            width: 100%;
            height: 560px;
            background-color: #fff;
            background-image: url('../img/product/product-sq.png');
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            padding: 45px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_head {
                font-weight: 600;
                font-size: 28px;
                line-height: 125%;
            }

            &_link {
                display: flex;
                justify-content: center;

                &_item {
                    width: 130px;
                    height: 130px;
                    border-radius: 100%;
                    background-color: #263044;
                    @include def-anim;
                    background-image: url('../img/icons/download.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 24px 24px;

                    &:hover {
                        background-color: $green;
                    }
                }
            }

        }
    }


    &__pn {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80vh;
        position: relative;

        &_in {
            padding: 80px 0;
            
        }

        &_head {
            font-weight: 600;
            font-size: 28px;
            line-height: 135%;
            color: #fff;
        }


        &_link {
            width: 130px;
            height: 130px;
            border-radius: 100%;
            background-color: #263044;
            @include def-anim;
            background-image: url('../img/icons/resize.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px 20px;
            display: block;
            position: absolute;
            top: calc(50% - (130px / 2));
            left: calc(50% - (130px / 2));

            &:hover {
                background-color: $green;
            }
        }
    }


    &__anl {

        &_in {
            padding: 80px 0;
        }

        &_head {
            padding: 17px 0;
            font-weight: 600;
            font-size: 28px;
            line-height: 145%;
        }


        &_tabs {
            padding: 20px 0 0 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 60px;


            &_item.active {
                color: $text;
            }
            &_item {    
                font-weight: 600;
                color: #8A94AB;
                @include def-anim;
                margin-right: 80px;
                margin-bottom: 20px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: $text;
                }
            }
        }

        &_tabscontent {


            &_item.active {
                display: flex;
            }
            &_item {
                
                align-items: flex-start;
                justify-content: space-between;
                display: none;

                &_body {
                    max-width: 606px;
                    width: 100%;

                    &_chart {

                    }

                    &_ex {
                        font-size: 14px;
                        line-height: 155%;
                        color: #99A8B4;
                    }
                }

                &_action {
                    max-width: 500px;
                    width: 100%;

                    &_list {
                        margin-bottom: 40px;
                    }

                    &_item {
                        padding: 17px 30px;
                        border: 1px solid #E3E8EC;
                        border-radius: 6px;
                        height: 140px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &_name {
                            color: #99A8B4;
                        }

                        &_vals {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }

                        &_val {

                        }

                        &_val-main {
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 125%;
                        }

                        &_val-ex {
                            font-weight: 600;
                            color: $green;
                            padding-left: 40px;
                            position: relative;
                            display: flex;
                            align-items: center;

                            &_icon {
                                margin-right: 15px;
                                display: flex;
                                align-items: center;
                                width: 18px;
                                height: 18px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }

                            &_text {

                            }
                        }
                    }

                    &_btm {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &_ex {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &_icon {
                                width: 48px;
                                height: 48px;
                                margin-right: 20px;
                                background-image: url('../img/icons/ChartLineUp.svg');
                                background-repeat: no-repeat;background-position: center;
                                background-size: 28px 28px;
                                background-color: #F1F2F7;
                                border-radius: 100%;
                            }

                            &_text {
                                max-width: 185px;
                                width: 100%;
                                font-size: 14px;
                                line-height: 155%;
                            }
                        }
                    }
                }
            }
        }
    }

    &__snt {
        

        &_in {
            padding: 80px 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

        }

        &_body {
            max-width: 606px;
            width: 100%;

            &_head {
                margin-bottom: 60px;
                &_title {
                    margin-bottom: 15px;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 145%;
                }

                &_subtitle {
                    font-weight: 500;
                }
            }

            &_list {
                margin-bottom: 60px;

                &_table {
                    width: 100%;
                    border-collapse: collapse;

                    &_row {
                        padding: 30px 0;
                        
                        
                    }

                    &_item {
                        border-top: 1px solid #EDEDED;
                        border-bottom: 1px solid #EDEDED;
                        padding: 30px 0;
                    }

                    &_item-img {
                        padding: 30px 20px;
                    }

                    &_item-name {
                        font-weight: 600;
                    }

                    &_item-info {
                        color: #99A8B4;

                    }

                    &_item-val {
                        font-weight: 600;
                    }
                }
            }

            &_ex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;


                &_item {
                    display: flex;
                    align-items: center;
                    width: 45%;

                    &_icon {
                        width: 48px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #F4F8FB;
                        border-radius: 100%;
                        margin-right: 20px;
                    }

                    &_text {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 155%;
                    }
                }
            }
        }

        &_action {
            max-width: 500px; 
            width: 100%;
            border: 1px solid #E3E8EC;
            padding: 60px 50px;

            &_head {
                font-weight: 600;
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 50px;
            }

            

            &_slider {
                margin-bottom: 55px;

                &:last-child {
                    margin-bottom: 0;
                }


                &_head {
                    color: #99A8B4;
                    margin-bottom: 15px;
                }

                &_value {
                    margin-bottom: 25px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 135%;
                }

                &_el {

                }

                &_el.noUi-target {
                    background-color: #ECECEC;
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                    
                    .noUi-base {

                        .noUi-connects {
                            border-radius: 0;

                            .noUi-connect {
                                background-color: $green;
                            }
                            
                        }

                        .noUi-origin {

                            .noUi-handle.noUi-handle-lower {
                                cursor: pointer;
                                &:after {
                                    display: none;
                                }

                                &:before {
                                    display: none;
                                }
                                // right: calc(50% - (10px / 2));
                                right: -10px;
                                top: calc(50% - (10px / 2));
                                width: 13px;
                                height: 13px;
                                border-radius: 100%;
                                box-shadow: none;
                                border: none;
                                background-color: $green;
                            }
                        }
                    }
                }

                &_el.noUi-horizontal {
                    height: 3px;
                }
            }
        }
    }


    

   
}