.mapCluster {

    &__in {
        padding: 50px 0;
    }


    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &_title {
            font-weight: 600;
            font-size: 28px;
            line-height: 125%;
            max-width: 390px;
            width: 100%;
        }

        &_list {
            flex: 1 0 auto;
            display: flex;
            align-items: center;

        }

        &_item {
            width: calc(100% / 3);
            padding: 0 30px;
            border-left: 1px solid #E3E8EC;

            &_name {
                font-weight: 500;
                font-size: 14px;
                line-height: 135%;
                color: #99A8B4;
                margin-bottom: 5px;
            }

            &_value {
                font-weight: 600;
                font-size: 16px;
                line-height: 135%;
            }
        }
    }

    &__body {
        display: flex;
        
        &_content {
            flex: 1 0 auto;


            &_head {
                display: none;
            }

            

            #clusterMap {
                height: 100%;
                width: 100%;
                min-height: 650px;

                .ymaps-2-1-79-ground-pane {
                    filter: grayscale(1);
                    
                }
            }
        }

        &_tabs {
            // border: 1px solid green;
            width: 325px;
            background: #F9FAFD;
            padding: 60px 50px;

            &_hd {
                display: none;
            }
            &_head {
                font-weight: 500;
                font-size: 14px;
                line-height: 135%;
                /* identical to box height, or 19px */


                /* Text / Grey */

                color: #99A8B4;
                margin-bottom: 40px;
            }

            &_list {
                max-height: 520px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: var(--text_normal);
                    background-color: transparent;
                    border-radius: 2px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #E3E8EC;
                    border-radius: 2px;
                }
            }

            &_item.active {

                .mapCluster__body_tabs_item_icon {
                    background-color: $text;
                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }

            &_item {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                &:hover {
                    

                    .mapCluster__body_tabs_item_icon {
                        background-color: #2D495F;

                        svg {
                            path {
                                stroke: #fff;
                            }
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &_icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: #E3E8EC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 25px;
                    @include def-anim;

                    svg {
                        path {
                            @include def-anim;
                            stroke: $text;
                        }
                        
                    }
                    
                }

                &_text {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                }

            }

            &_action {
                display: none;
            }
        }
    }
}


@media (max-width: 1000px) {

    .mapCluster {

        &__in {

        }

        &__info {
            flex-wrap: wrap;

            &_title {
                width: 100%;
                max-width: unset;
                margin-bottom: 40px;
            }

            &_list {

            }

            &_item {

            }
        }

        &__body {

            &_tabs {

                &_action {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 1000px) {

    .mapCluster {

        &__in {

        }

        &__info {
            
            &_list {
                flex-wrap: wrap;
                flex: unset;
                width: 100%;
            }

            &_item {
                width: 100%;
                border: none;
                display: flex;
                justify-content: space-between;
                padding: 25px 0;
                border-bottom: 1px solid #E3E8EC;

                &:last-child {
                    border: none;
                }
            }
        }

        &__body {


            &_content.active {
                transform: translateX(0);
            }

            &_content {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateX(100%);
                z-index: 10;
                background-color: #fff;
                @include def-anim;


                &_head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100px;
                    padding: 0 15px;
                    &_back {
                        width: 40px;
                        height: 40px;
                        background-image: url('../img/icons/back-green.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    &_name {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 135%;
                    }

                    &_btn {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        background-color: #F9FAFD;
                        /* Text / Light Grey */

                        border: 1px solid #E3E8EC;
                        background-image: url('../img/icons/filter-green.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 25px 25px;
                    }
                }

                #clusterMap {
                    min-height: unset;
                    height: calc(100% - 100px);
                    
                }


            }

            &_tabs.active {
                transform: translateX(0);
            }

            &_tabs {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 11;
                transform: translateX(100%);
                padding: 0;
                @include def-anim;


                &_item {

                    &:hover {

                        .mapCluster__body_tabs_item_icon {
                            background-color: $text;
                            // svg {
                            //     path {
                            //         stroke: $text;
                            //     }
                            // }
                        }
                    }
                    
                }

                &_head {
                    display: none;
                }

                &_list {
                    padding: 30px 15px;
                    max-height: calc(100% - 101px - 200px);
                    overflow-y: auto;
                }

                &_action {
                    padding: 44px 15px;
                    box-shadow: 0px -15px 37px 0px rgba(rgb(34,60,80), .25);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;

                    &_btn {
                        margin-bottom: 30px;

                        &:last-child {
                            margin-bottom: 0;
                            text-align: center;font-weight: 600;
                            font-size: 16px;
                            line-height: 135%;
                            /* identical to box height, or 22px */
                            
                            text-align: center;
                            
                            /* Text / Grey */
                            
                            color: #99A8B4;
                        }
                    }
                }

                &_hd {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100px;
                    padding: 0 15px;
                    border-bottom: 1px solid rgba(#E7E9F2, .8);

                    &_name {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 135%;
                    }

                    &_btn {
                        width: 40px;
                        height: 40px;
                        background-image: url('../img/icons/close.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {

    .mapCluster {

        &__info {
            &_title {
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 20px;
            }
            &_item {

            }
        }
    }
}