.mapCluster {

    &__in {
        padding: 50px 0;
    }


    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &_title {
            font-weight: 600;
            font-size: 28px;
            line-height: 125%;
            max-width: 390px;
            width: 100%;
        }

        &_list {
            flex: 1 0 auto;
            display: flex;
            align-items: center;

        }

        &_item {
            width: calc(100% / 3);
            padding: 0 30px;
            border-left: 1px solid #E3E8EC;

            &_name {
                font-weight: 500;
                font-size: 14px;
                line-height: 135%;
                color: #99A8B4;
                margin-bottom: 5px;
            }

            &_value {
                font-weight: 600;
                font-size: 16px;
                line-height: 135%;
            }
        }
    }

    &__body {
        display: flex;
        
        &_content {
            flex: 1 0 auto;

            #clusterMap {
                height: 100%;
                width: 100%;
                min-height: 650px;

                .ymaps-2-1-79-ground-pane {
                    filter: grayscale(1);
                    
                }
            }
        }

        &_tabs {
            // border: 1px solid green;
            width: 325px;
            background: #F9FAFD;
            padding: 60px 50px;
            &_head {
                font-weight: 500;
                font-size: 14px;
                line-height: 135%;
                /* identical to box height, or 19px */


                /* Text / Grey */

                color: #99A8B4;
                margin-bottom: 40px;
            }

            &_list {
                max-height: 520px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: var(--text_normal);
                    background-color: transparent;
                    border-radius: 2px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #E3E8EC;
                    border-radius: 2px;
                }
            }

            &_item.active {

                .mapCluster__body_tabs_item_icon {
                    background-color: $text;
                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }

            &_item {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                &:hover {
                    

                    .mapCluster__body_tabs_item_icon {
                        background-color: #2D495F;

                        svg {
                            path {
                                stroke: #fff;
                            }
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &_icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: #E3E8EC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 25px;
                    @include def-anim;

                    svg {
                        path {
                            @include def-anim;
                            stroke: $text;
                        }
                        
                    }
                    
                }

                &_text {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                }

            }
        }
    }
}