.aks {
    padding: 50px 0;
    &__in {
        background: #F9FAFD;
        border-radius: 6px;
        display: flex;
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 0 70px 60px;

        &_head {
            font-weight: 600;
            font-size: 32px;
            line-height: 125%;
        }

        &_text {

        }
    }

    &__img {
        background-image: url('../img/aks/aks-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        img {
            display: flex;
        }
    }

    &__action {
        padding: 55px 48px 55px 0;
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 1000px) {

    .aks {
        
        
        &__in {
            position: relative;
            height: 420px;
            background-image: url('../img/aks/aks-mob.png');
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: contain;
            padding: 45px 30px;
            background-color: #fff;
            flex-direction: column;
            justify-content: space-between;
            
        }

        &__img {
            display: none;
        }

        &__descr {
            width: 100%;
            padding: 0;

            &_head {
                margin-bottom: 20px;
            }

            &_text {
                width: 60%;
            }
        }

        &__action {
            padding: 0;
        }
    }
}

@media (max-width: 620px) {

    .aks {

        &__in {

        }

        &__img {

        }

        &__descr {

        }

        &__action {

            &_btn {
                width: 100%;
            }
        }
    }
}