.auto {
    padding: 120px 0;

    &__in {
        padding: 65px 60px;
        background-color: #F9FAFD;
        border-radius: 6px;
        display: flex;
        position: relative;
        // border: 1px solid red;
    }

    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 440px;

        &_head {
            font-weight: 600;
            font-size: 28px;
            line-height: 125%;
            margin-bottom: 122px;
        }

        
    }
    &__img {
        position: absolute;
        width: 50%;
        right: 0;top: calc(50% - (570px / 2));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}