.contacts {

    &__in {
        padding: 100px 0;
    }

    &__body {
        display: flex;
        color: #fff;
        

        &_main {
            width: 50%;
            background-color: $green;
            padding: 60px 15px 155px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_ex {
                font-weight: 500;
                font-size: 16px;
                line-height: 155%;
                max-width: 298px;
                width: 100%;
            }

            &_tel {
                font-weight: 600;
                font-size: 24px;
                line-height: 135%;
                max-width: 418px;
                width: 100%;
            }

            &_address {
                font-weight: 600;
                font-size: 24px;
                line-height: 135%;
                max-width: 418px;
                width: 100%;
            }

            &_mail {
                font-weight: 500;
                font-size: 16px;
                line-height: 135%;
                text-decoration-line: underline;

            }
        }

        &_img {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: flex;
            }
        }
    }
}