.contacts {

    &__in {
        padding: 100px 0;
    }

    &__body {
        display: flex;
        color: #fff;
        

        &_main {
            width: 50%;
            background-color: $green;
            padding: 60px 15px 155px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_ex {
                font-weight: 500;
                font-size: 16px;
                line-height: 155%;
                max-width: 298px;
                width: 100%;
                margin-bottom: 40px;
            }

           

            &_address {
                font-weight: 500;
                font-size: 18px;
                line-height: 165%;
                max-width: 418px;
                width: 100%;
                margin-bottom: 30px;
            }

            &_tels {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
            }

            &_tel {
                margin-right: 30px;
                display: inline-block;
                font-weight: 600;
                font-size: 20px;
                line-height: 135%;
            }

            &_bottom {
                display: flex;
                align-items: center;

                &_mail {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 135%;
                    /* identical to box height, or 22px */
                    margin-right: 60px;
                    text-decoration-line: underline;
                }

                &_soc {
                    display: flex;
                    align-items: center;

                    &_item {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #fff;
                        border-radius: 100%;
                        margin: 0 10px;
                    }
                }
            }
        }

        &_img {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        }
    }

    &__map {
        height: 550px;
        width: 96%;
        margin: 0 0 0 auto;
        margin-top: -30px;

        #routeMap {
            height: 100%;
            width: 100%;

            .ymaps-2-1-79-ground-pane {
                filter: grayscale(1);
                opacity: .6;
                
            }
        }
    }
}


@media (max-width: 1000px) {
    .contacts > .container {
        padding: 0;
    }
    .contacts {

        &__in {
            padding: 40px 0;
        }

        &__body {
            flex-wrap: wrap;
            &_main {
                width: 100%;
                padding: 50px 30px;
            }

            &_img {
                width: 100%;
            }
        }

        &__map {
            width: 100%;
            margin-top: 0;
        }
    }
}

@media (max-width: 620px) {

    .contacts {

        &__in {

        }

        &__body {

            &_main {
                padding: 20px;
                &_tels {
                    flex-wrap: wrap;
                }

                &_tel {
                    margin-bottom: 10px;
                    font-size: 18px;
                    line-height: 22px;
                }

                &_bottom {
                    flex-direction: column;
                    align-items: flex-start;

                    &_mail {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }

                    &_soc {

                        &_item {
                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}