.dwn {

    &__in {
        padding: 120px 0;

    }

    &__body {
        background: #FFFFFF;
        border-radius: 6px;
        display: flex;

        &_descr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 60px 10px 60px 60px;
            &_title {
                font-weight: 600;
                font-size: 32px;
                line-height: 125%;
            }

            &_text {
                font-weight: 400;
                font-size: 16px;
                line-height: 155%;
            }
        }

        &_action {
            position: relative;
            &_img {
                width: 100%;
                height: 100%;

                img {
                    // width: 100%;
                    // height: 100%;
                    // object-fit: contain;
                }
            }

            &_link {
                width: 130px;
                left: 134px;
                height: 130px;
                border-radius: 100%;
                background-color: $text;
                display: block;
                position: absolute;
                top: calc(50% - (130px / 2));
                background-image: url('../img/icons/download.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 24px 24px;
                @include def-anim;

                &:hover {
                    background-color: $green;
                }
            }
        }
    }
}


@media (max-width: 1000px) {

    .dwn {

        &__in {
            padding: 40px 0;
        }

        &__body {
            flex-wrap: wrap;
            align-items: center;
            padding: 50px 30px 115px;
            background-image: url('../img/dwn/dwn-mobile.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;

            &_descr {
                width: 100%;
                padding: 0;
                margin-bottom: 50px;

                &_title {
                    margin-bottom: 20px;
                }
            }

            &_action {
                width: 100%;
                display: flex;
                justify-content: center;

                &_img {
                    display: none;
                }

                &_link {
                    position: static;
                }
            }
        }
    }
}

@media (max-width: 620px) {

    .dwn {

        &__body {

            &_descr {

                &_title {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 125%;
                }

                &_text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 155%;
                }
            }
        }
    }
}