.footer {

    &__main {
        border-top: 1px solid #E3E8EC;

        &_in {
            padding: 40px 0;
            display: flex;

        }   

        &_left {
            width: 50%;
            &_logo {
                margin-bottom: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }

            &_tel {
                display: block;
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 32px;
                line-height: 175%;
            }

            &_mail {
                font-weight: 600;
                font-size: 16px;
                line-height: 175%;
                margin-bottom: 24px;
                display: block;
            }

            &_adress {
                font-size: 14px;
                line-height: 155%;
                color: #99A8B4;
                max-width: 400px;
                width: 100%;
                margin-bottom: 40px;
            }

            &_soc {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                &_item {
                    margin-right: 20px;
                    margin-bottom: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #E3E8EC;
                    @include def-anim;

                    svg {
                        path {
                            @include def-anim;
                        }
                    }
                    

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        border-color: $text;

                        svg path {
                            fill: $text;
                        }
                    }
                }
            }
        }

        &_right {
            width: 50%;
            display: flex;
            // align-items: flex-start;
            justify-content: space-between;

            &_menu {
                display: flex;
                align-items: flex-start;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                &_item {
                    margin-bottom: 40px;
                    width: 48%;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    &_head{ 
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 155%;
                        color: #99A8B4;
                        margin-bottom: 20px;
                    }

                    &_li {
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 135%; 
                            @include def-anim;

                            &:hover {
                                color: $green;
                            }
                        }
                    }
                }
            }

            &_action {
                background-image: url('../img/footer.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 40px 30px;
                width: 288px;
                &_head {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                }

                &_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &_link {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                        background-color: #263044;
                        background-image: url('../img/icons/download.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 20px 20px;
                        display: block;
                        @include def-anim;

                        &:hover {

                            background-color: $green;
                        }
                    }
                }
            }
        }
    }

    &__ex {
        // background-color: #263044;

        &_top {

            &_in {
                padding: 40px 0;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;

            }

        
            &_left {
                width: 50%;
                font-size: 14px;
                line-height: 155%;
                color: #99A8B4;
                opacity: 0.6;
            }

            &_right {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &_download {

                    &_title {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 155%;
                        margin-bottom: 30px;
                        color: #99A8B4;
                        opacity: 0.6;
                    }

                    &_list {
                        display: flex;
                        margin-left: -15px;
                        margin-right: -15px;

                    }

                    &_item {
                        display: flex; 
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgba(153, 168, 180, 0.4);
                        border-radius: 8px;
                        height: 58px;
                        width: calc((100% / 3) - 30px);
                        margin: 0 15px;
                        @include def-anim;
                        &_icon {
                            width: 26px;
                            height: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include def-anim;
                            margin-right: 15px;

                            svg {
                                path {
                                    @include def-anim;
                                    stroke: $text;
                                }
                            }
                        }

                        &_text {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 135%;
                            @include def-anim;
                            color:$text;
                        }

                        &:hover {
                            border-color: $text;
                            background-color: $text;
                            .footer__ex_top_right_download_item_text {
                                color: #fff;
                            }

                            .footer__ex_top_right_download_item_icon {

                                svg {
                                    path {
                                        stroke: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                &_ex {
                    display: flex;
                    &_item {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 155%;
                        /* or 22px */


                        /* Text / Grey */

                        color: #99A8B4;

                        opacity: 0.6;
                    }
                }
            }
        }

        &_bottom {
            border-top: 1px solid #E3E8EC;

            &_in {
                padding: 20px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &_item {
                font-size: 14px;
                line-height: 155%;
                /* identical to box height, or 22px */
                
                
                /* Text / Grey */
                
                color: #99A8B4;
                
                opacity: 0.6;
            }

            a.footer__ex_bottom_item {
                @include def-anim;

                &:hover {
                    color: $text;
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 1100px) {

    .footer {

        &__main {

            &_in {
                flex-wrap: wrap;
            }

            &_left {
                width: 100%;
                margin-bottom: 50px;
            }

            &_right {
                // width: 100%;
                width: 100%;
                &_menu {
                    display: flex;
                    align-items: flex-start;

                    &_item {
                        // margin-right: 50px;
                        margin-bottom: 0;
                    }
                }

                &_action {
                    height: 400px;
                }
            }
            
        }

        &__ex {

            &_top {

                &_in {

                }

                &_left {
                    width: 100%;

                    &_menu {
                        margin-bottom: 50px;
                    }
                }


                &_right {
                    margin-bottom: 50px;
                    width: 100%;
                }

                &_bottom {
                    flex-wrap: wrap;

                    &_item {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {

    .footer {

        &__main {

            &_left {

                &_logo {
                    width: 160px;
                    height: 75px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }

            &_right {
                flex-wrap: wrap;

                &_menu {
                    width: 100%;
                    margin-bottom: 50px;
                    &_item {
                        margin: 0;
                        width: 50%;

                        &_li {
                            a {
                                font-size: 14px;
                                line-height: 17px;
                            }
                        }
                    }
                }

                &_action {
                    width: 100%;
                    background-image: url('../img/footer-mob.png');
                    height: 270px;
                    padding: 20px;
                    &_ex {
                        font-size: 14px;
                        line-height: 155%;
                        color: #99A8B4;
                    }
                }
            }
        }

        &__ex {

            &_top {

                &_left {

                    &_menu {

                        &_item {
                            a {
                                font-size: 14px;
                                line-height: 17px;
                            }
                        }
                    }
                }

                &_right {

                    &_download {

                        &_list {
                            flex-wrap: wrap;
                            margin-left: 0;
                            margin-right: 0;
                        }

                        &_item {
                            margin: 0;
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            &_bottom {

                &_in {
                    flex-wrap: wrap;
                }

                &_item {
                    width: 100%;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}