.header{

    .spacer {
        background-color: #E3E8EC;
        height: 1px;
    }

    &__mn {

    }

    &__mobile {
        display: none;
    }

    &__top {
        padding: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_city {

            &_select {

                &_head {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                }
            }
        }

        &_nav {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            padding: 0 70px;


            &_item.active {
                a {
                    color: $text;
                }
            }
            &_item {
                margin: 0 20px;
                
                a {
                    color: $text_gray;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 135%;
                    @include def-anim;

                    &:hover {
                        color: $text;
                    }
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &_action {
            display: flex;
            align-items: center;

            &_item {    


                margin: 0 15px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &_like {
                display: flex;
                align-items: center;

                &_icon {
                    margin-right: 12px;
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/icons/heart.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    cursor: pointer;
                }

                &_value {
                    font-weight: 600;
                }
            }

            &_profile {
                display: flex;
                align-items: center;

                &_btn {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                    margin-right: 20px;
                    cursor: pointer;
                }

                &_icon {
                    background-color: $green;
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    background-image: url('../img/icons/user.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 20px 20px;
                }
            }

            &_lang {
                display: flex;
                align-items: center;

                &_item.active {
                    color: $text;
                }

                &_item {
                    margin: 0 3px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                    color: $text_gray;
                    
                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_nav {
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            padding: 0 7%;

            &_item {
                margin: 0 20px;
                
                
            }

            &_item > a {
                font-weight: 600;
                font-size: 14px;
                line-height: 135%;
                @include def-anim;
                
                &:hover {
                    color: $green;
                }
            }

            &_item--dropdown {
                font-weight: 600;
                font-size: 14px;
                line-height: 135%;
                @include def-anim;
                position: relative;
                padding-right: 25px;
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: url('../img/icons/dropdown-chevron.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    content: '';
                    width: 16px;
                    height: 16px;
                    @include def-anim;
                }

                &:hover {

                    &:after {
                        transform: rotate(180deg);
                    }
                    .header__main_nav_item--dropdown_menu {
                        display: block;
                        z-index: 1000;
                    }
                }

                &_menu {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    min-width: 100%;
                    max-width: 250px;
                    background-color: #fff;
                    transform: translateY(100%);
                    border-radius: 5px;
                    overflow: hidden;

                    &_item {
                        display: block;
                        white-space: nowrap;
                        padding: 10px 20px;
                        @include def-anim;

                        &:hover {
                            background-color: #E3E8EC;
                        }
                    }
                }
                
            }

            
        }

        &_info {
            display: flex;
            align-items: center;

            
            &_item {
                padding: 0 40px;
                position: relative;

                &:hover {
                    color: $green;
                }

                &::after {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 1px;
                    background-color: #E3E8EC;
                    top: 0;
                    right: 0;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

            &_value {
                font-weight: 600;
                font-size: 16px;
                line-height: 135%;
                @include def-anim;
            }

            &_btn {
                display: flex;
                align-items: center;
                cursor: pointer;
                
                &_icon {    
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/icons/tel.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin-right: 12px;
                }

                &_text {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                    @include def-anim;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {

        &__mn {
            display: none;
        }
        &__mobile {
            display: block;

            &_in {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
            }

            &_logo {

            }

            &_action {
                display: flex;
                align-items: center;
                &_main {
                    display: flex;
                    align-items: center;
                    &_item {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #F9FAFD;
                        margin: 0px 8px;
                        /* Text / Light Grey */

                        border: 1px solid #E3E8EC;
                        border-radius: 100%;

                        svg {

                            path {
                                fill: #042742;
                            }
                        }
                    }
                }

                &_burger {
                    width: 30px;
                    height: 18px;
                    display: flex;  
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 30px;
                    span {
                        display: block;
                        width: 100%;
                        height: 3px;
                        border-radius: 12px;
                        background-color: $text;
                        &:nth-child(1) {

                        }

                        &:nth-child(2) {
                            width: 22px;
                        }

                        &:nth-child(3) {

                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .header {

        &__mobile {

            &_logo {
                width: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &_in {
                padding: 0;
            }

            &_action {

                &_main {

                    &_item {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}