.hero {

    &__slider {

        &_wr {

        }

        &_sl.black {

            .hero__slider_sl_content {

                &_title {
                    color: $text;
                }

                &_text {
                    color: $text;
                }
            }
        }

        &_sl {
            position: relative;


            &_img {
                height: 550px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: flex;
                }
            }

            &_content {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                &_in {
                    color: #fff;
                    width: 100%;
                    padding-bottom: 64px;
                    padding-top: 30px;
                }

                &_title {
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 115%;
                    margin-bottom: 28px;
                }

                &_text {
                    font-weight: 600;
                }

                &_action {
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &_main {
                        display: flex;
                        flex-wrap: wrap;
                        
                        &_btn {
                            margin-right: 20px;
                        }
                    }

                    &_nav {
                        display: flex;
                        align-items: center;

                        &_item {
                            background-color: #F3F5FA;
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            background-image: url('../img/icons/chevron-black.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 24px 24px;
                            cursor: pointer;
                            margin: 0 5px;
                        }

                        &_item-prev {
                            transform: rotate(180deg);
                        }

                        &_item-next {

                        }
                    }
                }
            }
        }

        &_nav {
            width: 30px;
            height: 30px;
            position: absolute;
            top: calc(50% - (30px / 2));
            background-image: url('../img/icons/chevron.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 3;
            cursor: pointer;
            @include def-anim;

            &:hover {
                transform: scale(1.5);
            }

            &_prev {
                left: 20px;                
            }

            &_next {
                right: 20px;
                transform: rotate(180deg);

                &:hover {
                    transform: scale(1.5) rotate(180deg);
                }
            }
        }
    }
    &__action {
        display: flex;
        justify-content: flex-end;
        margin-top: -65px;
        position: relative;
        z-index: 2;
        &_link {
            width: 130px;
            height: 130px;
            border-radius: 100%;
            background-color: #263044;
            @include def-anim;
            background-image: url('../img/icons/external.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px 24px;
            display: block;
    
            &:hover {
                background-color: $green;
            }
        }
    }
    
}


@media (max-width: 1100px) {
    .hero {

        &__slider {

            &_sl {

                &_content {

                    &_title {
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 115%;
                    }

                    &_text {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 145%;
                    }

                    &_action {
                        flex-wrap: wrap;

                        &_nav {
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
    }
    
}