.map {
    background-color: #fff;

    &__head {

        &_top {
            padding: 40px 0; 
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_mob {
                display: none;
            }
            &_tabs {
                display: flex;
                align-items: center;

                &_item {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    color: #99A8B4;
                    @include def-anim;
                    cursor: pointer;
                    margin-right: 60px;

                    &:hover {
                        color: $text;
                    }
                }

                &_item.active {
                    color: $text;
                }
            }

            &_action {
                display: flex;
                align-items: center;

                &_btn {

                }

                &_btn-toggle {

                    .checkbox {

                        &__text {
                            margin-right: 0;
                            margin-left: 25px;
                            font-weight: 600;
                            font-size: 16px !important;
                            line-height: 135% !important;
                        }
                    }
                }

                &_btn-pp {
                    position: relative;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    padding-left: 42px;
                    color: $green;
                    cursor: pointer;

                    &:after {
                        position: absolute;
                        top: calc(50% - 11px);
                        left: 0;
                        content: '';
                        width: 22px;
                        height: 22px;
                        background-image: url('../img/icons/filter-green.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                }
            }
        }

        &_filter {
            padding: 20px;
            background: #FFFFFF;
            /* Карточка объекта / Вертикальная */
            position: relative;
            z-index: 5;
            box-shadow: 0px 30px 40px rgba(57, 63, 110, 0.15);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_item {
                height: 60px;
                margin: 0 8px;
                width: 100%;
                border: 1px solid #000;
                background: #FFFFFF;
                border: 1px solid #E7E9F2;
                border-radius: 8px;
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &_item-rm {
                display: flex;
                padding: 10px;
                align-items: center;

                &_tab {
                    height: 100%;
                    padding: 0 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                    /* identical to box height, or 19px */
                    background: #F9FAFD;
                    border-radius: 8px;
                    text-align: center;
                    
                    /* Text / Grey */
                    @include def-anim;
                    color: #99A8B4;
                    cursor: pointer;
                    margin: 0 2px;
                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &_tab.active {
                    background-color: $text;
                    color: #fff;
                }

                
            }

            &_item-lc {
                display: flex;
                align-items: center;
                position: relative;
                
                
                
                .choices {
                    width: 100%;
                    padding: 5px 20px;
                    padding-left: 40px;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 30px;
                        height: 30px;
                        left: 20px;
                        top: calc(50% - 15px);
                        background-image: url('../img/icons/location.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    .choices__list.choices__list--dropdown {
                        width: 100% !important;
                        left: 0 !important;
                    }
                }
            }

            &_item-date {
                padding: 10px 20px;
                display: flex;
                align-items: center;
                position: relative;

                label {
                    width: 100%;
                    font-size: 12px;
                    line-height: 135%;
                    color: #898BA3;
                    
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    &:after {
                        position: absolute;
                        top: calc(50% - 15px);
                        right: 0;
                        width: 30px;
                        height: 30px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        
                    }
                    input {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 135%;
                        color: $text;
                        display: block;
                        width: 100%;
                        // padding-right: 30px;
                        &::-webkit-calendar-picker-indicator {
                            opacity: 0;
                            cursor: pointer;
                            z-index: 10;
                            width: 30px;
                            height: 30px;
                            bottom: 5px;
                            position: relative;
                            
                        }
                        
                    }
                }
            }

            &_item-date-enter {
                label {

                    &:after {
                        background-image: url('../img/icons/calendar-green.svg');
                    }
                }
            }

            &_item-date-exit {
                label {
                    &:after {
                        background-image: url('../img/icons/calendar-gray.svg');
                    }
                }
            }
        }
    }


    &__body.on {
        display: block;
    }

    &__body.off {
        display: none;
    }
    &__body {

        &_in {
            display: flex;
            height: 700px;
        }
        

        &_content {
            width: 440px;  
            padding: 40px 30px 10px 15px;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            flex: 0 0 auto;
            position: relative;
            
            &::-webkit-scrollbar {
                width: 4px;
                background-color: #fff;
                border-radius: 3px;
            }   
            &::-webkit-scrollbar-thumb {
                background: $text;
                border-radius: 3px;
            }

            &_head {
                position: sticky;
                z-index: 4;
                background-color: #fff;
                top: 0;
                left: 0;
                width: 100%;
                padding-right: 30px;
                padding-left: 15px;
                padding-top: 40px;
                padding-bottom: 30px;
                box-shadow: 0px 10px 10px rgba($text, .2);

                &_name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 165%;
                }

                &_value {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 165%;
                    /* identical to box height, or 23px */
                    
                    
                    /* Text / Grey */
                    
                    color: #99A8B4;
                }
            }
            
            &_item.active {
                display: block;
            }

            &_item.hide {
                display: none;
            }

            &_item {
                padding-left: 15px;
                padding-right: 30px;

                
            }
        }

        &_el {
            height: 100%;
            flex: 1 0 auto;

            &_head {
                display: none;
            }

            #mapCt {
                height: 100%;
                .ymaps-2-1-79-ground-pane {
                    filter: grayscale(1);
                    opacity: .6;
                    
                }
            }
        }
    }

    &__list.on {
        display: block;
    }

    &__list.off {
        display: none;
    }

    &__list {
        padding: 30px 0;

        &_in {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
        }

        &_item {
            margin: 0 15px;
            width: calc((100% / 3) - 30px);
            margin-bottom: 20px;
        }

        &_action {
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #E3E8EC;
            
            &_btn {
                display: flex;
                align-items: center;
                padding-left: 40px;
                position: relative;
                font-weight: 600;
                &:after {
                    position: absolute;
                    top: calc(50% - 10px);
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/icons/plus.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    content: '';
                }
            }
        }
    }
}

@media (max-width: 1070px) {
    .map {

        &__head {
            &_top {
                flex-wrap: wrap;

                &_tabs {
                    width: 100%;
                    margin-bottom: 20px;
                    background-position: 10px;
                    overflow-y: auto;

                    &_item {
                        white-space: nowrap;
                    }
                }

                &_action {

                    &_btn-toggle {

                    }
                }
            }
            &_filter {
                flex-wrap: wrap;
                justify-content: space-between;
                
                &_item {
                    width: 49%;
                    margin: 0;
                    margin-bottom: 15px;
                }
            }
        }

        &__body {

            &_content {

            }
        }
    }
}

@media (max-width: 768px) {

    .map {

        &__head {


            &_top {

                &_tabs {
                    padding-bottom: 10px;
                }
                &_action {
                    margin-bottom: 20px;
                    width: 100%;
                    &_btn-toggle {
                        display: none;
                    }

                    &_btn-pp {
                        height: 100px;
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        border-radius: 10px;
                        background-color: #F9FAFD;
                        color: $text;
                        &:after {
                            left: unset;
                            right: 20px;
                        }
                    }
                }
                &_mob {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 100px;
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: $text;
                    color: #fff;
                    font-weight: 700;
                    width: 100%;
                    padding: 0 20px;
                    background-image: url('../img/map/map-bg.png');
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: cover;
                }
            }

            &_filter {
                display: none;
            }
        }

        &__body {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            @include def-anim;
            background-color: #fff;
            z-index: -1;

            .container {
                height: 100%;
                padding: 0;
            }
            &_in {
                height: 100%;
                position: relative;
                display: block;
            }

            &_content {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 0;
                width: auto;
                overflow-y: hidden;
                overflow-x: auto;
                z-index: 6;
                height: auto;
                max-width: 100%;

                &::-webkit-scrollbar {
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                    border-radius: 3px;
                } 

                &::-webkit-scrollbar-thumb {
                    background: $text;
                    border-radius: 3px;
                }

                &_head {
                    display: none;
                }

                &_item {
                    padding: 0;
                    display: flex;

                    .map__card {
                        width: 360px;
                        margin-right: 20px;
                    }
                }

                &_item.hide {
                    display: none;
                }

                &_item.active {
                    display: flex;
                }
            }

            &_el {
                flex: unset;

                &_head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 30px 15px;
                    background-color: #F9FAFD;
                    &_name {
                        font-weight: 700;
                        font-size: 20px;

                    }

                    &_close {
                        width: 40px;
                        height: 40px;
                        background-image: url('../img/icons/close.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 30px;
                    }
                }
                
            }   
        }

        &__body.active {
            transform: translateX(0);
            z-index: 5;
        }
    }
}