.map {
    background-color: #fff;

    &__head {

        &_top {
            padding: 40px 0; 
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_tabs {
                display: flex;
                align-items: center;

                &_item {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    color: #99A8B4;
                    @include def-anim;
                    cursor: pointer;
                    margin-right: 60px;

                    &:hover {
                        color: $text;
                    }
                }

                &_item.active {
                    color: $text;
                }
            }

            &_action {
                display: flex;
                align-items: center;

                &_btn {

                }

                &_btn-toggle {

                    .checkbox {

                        &__text {
                            margin-right: 0;
                            margin-left: 25px;
                            font-weight: 600;
                            font-size: 16px !important;
                            line-height: 135% !important;
                        }
                    }
                }

                &_btn-pp {
                    position: relative;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    padding-left: 42px;
                    color: $green;
                    cursor: pointer;

                    &:after {
                        position: absolute;
                        top: calc(50% - 11px);
                        left: 0;
                        content: '';
                        width: 22px;
                        height: 22px;
                        background-image: url('../img/icons/filter-green.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                }
            }
        }

        &_filter {
            padding: 20px;
            background: #FFFFFF;
            /* Карточка объекта / Вертикальная */
            position: relative;
            z-index: 5;
            box-shadow: 0px 30px 40px rgba(57, 63, 110, 0.15);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_item {
                height: 60px;
                margin: 0 8px;
                width: 100%;
                border: 1px solid #000;
                background: #FFFFFF;
                border: 1px solid #E7E9F2;
                border-radius: 8px;
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &_item-rm {
                display: flex;
                padding: 10px;
                align-items: center;

                &_tab {
                    height: 100%;
                    padding: 0 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                    /* identical to box height, or 19px */
                    background: #F9FAFD;
                    border-radius: 8px;
                    text-align: center;
                    
                    /* Text / Grey */
                    @include def-anim;
                    color: #99A8B4;
                    cursor: pointer;
                    margin: 0 2px;
                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &_tab.active {
                    background-color: $text;
                    color: #fff;
                }

                
            }

            &_item-lc {
                display: flex;
                align-items: center;
                position: relative;
                
                
                
                .choices {
                    width: 100%;
                    padding: 5px 20px;
                    padding-left: 40px;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 30px;
                        height: 30px;
                        left: 20px;
                        top: calc(50% - 15px);
                        background-image: url('../img/icons/location.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    .choices__list.choices__list--dropdown {
                        width: 100% !important;
                        left: 0 !important;
                    }
                }
            }

            &_item-date {
                padding: 10px 20px;
                display: flex;
                align-items: center;
                position: relative;

                label {
                    width: 100%;
                    font-size: 12px;
                    line-height: 135%;
                    color: #898BA3;
                    
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    &:after {
                        position: absolute;
                        top: calc(50% - 15px);
                        right: 0;
                        width: 30px;
                        height: 30px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        
                    }
                    input {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 135%;
                        color: $text;
                        display: block;
                        width: 100%;
                        // padding-right: 30px;
                        &::-webkit-calendar-picker-indicator {
                            opacity: 0;
                            cursor: pointer;
                            z-index: 10;
                            width: 30px;
                            height: 30px;
                            bottom: 5px;
                            position: relative;
                            
                        }
                        
                    }
                }
            }

            &_item-date-enter {
                label {

                    &:after {
                        background-image: url('../img/icons/calendar-green.svg');
                    }
                }
            }

            &_item-date-exit {
                label {
                    &:after {
                        background-image: url('../img/icons/calendar-gray.svg');
                    }
                }
            }
        }
    }

    &__body {

        &_in {
            display: flex;
            height: 700px;
        }
        

        &_content {
            flex: 0 1 440px;  
            padding: 40px 30px 10px 15px;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            position: relative;
            
            &::-webkit-scrollbar {
                width: 4px;
                background-color: #fff;
                border-radius: 3px;
            }   
            &::-webkit-scrollbar-thumb {
                background: $text;
                border-radius: 3px;
            }

            &_head {
                position: sticky;
                z-index: 4;
                background-color: #fff;
                top: 0;
                left: 0;
                width: 100%;
                padding-right: 30px;
                padding-left: 15px;
                padding-top: 40px;
                padding-bottom: 30px;
                box-shadow: 0px 10px 10px rgba($text, .2);

                &_name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 165%;
                }

                &_value {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 165%;
                    /* identical to box height, or 23px */
                    
                    
                    /* Text / Grey */
                    
                    color: #99A8B4;
                }
            }
            
            &_item.active {
                display: block;
            }

            &_item.hide {
                display: none;
            }

            &_item {
                padding-left: 15px;
                padding-right: 30px;

                .map__card {
                    width: 100%;
                    border-radius: 8px;
                    height: 360px;
                    margin-bottom: 20px;
                    display: block;
                    overflow: hidden;
                    box-shadow: 0px 4px 10px rgba(81, 85, 126, 0.05);
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    &_main {
                        height: 240px;
                        position: relative;

                        &_list {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 20px 20px 0 20px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;

                            &_item {
                                margin-right: 5px;
                                margin-bottom: 10px;
                                padding: 5px 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 135%;
                            }

                            &_item-green {
                                background-color: #50A627;
                                color: #fff;
                            }

                            &_item-yellow {
                                color: #fff;
                                background-color: #F3C142;
                            }

                            &_item-white {
                                color: $text;
                                background-color: #fff;
                            }
                            
                            &_item-aqua {
                                background-color: #509EF3;
                                color: #fff;
                            }

                            &_item-purple {
                                color: #fff;
                                background-color: #9747FF;
                            }
                        }

                        &_rate {
                            color: #FFFFFF;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 135%;
                            position: absolute;
                            bottom: 25px;
                            left: 0;
                            padding-left: 45px;
                            z-index: 2;

                            &:after {
                                position: absolute;
                                top: calc(50% - 10px);
                                left: 20px;
                                width: 20px;
                                height: 20px;
                                background-image: url('../img/icons/star-gold.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                content: '';
                            }
                        }

                        &_slider {
                            height: 100%;
                            &_sl {
                                height: 100%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    &_info {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex: 1 0 auto;
                        &_name {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 135%;
                            /* or 24px */


                            color: #509EF3;
                        }

                        &_bottom {
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            
                            
                            &_ex {
                                display: flex;
                                align-items: center;

                                &_icon {
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 10px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                        display: flex;
                                    }
                                }

                                &_text {
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 135%;
                                }
                            }

                            &_price {
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 135%;
                            }
                        }
                    }
                }
            }
        }

        &_el {
            height: 100%;
            flex: 1 0 auto;

            .ymaps-2-1-79-ground-pane {
                filter: grayscale(1);
                opacity: .6;
                
            }
        }
    }
}