.rest {

    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

    }

    &__content {
        width: 322px;

        &_title {
            font-weight: 600;
            font-size: 32px;
            line-height: 135%;
            margin-bottom: 60px;
            span {
                color: $green;
            }
            span.location {
                position: relative;
                padding-left: 30px;
                border-bottom: 2px dashed $green;

                &:after {
                    position: absolute;
                    top: calc(50% - 10px);
                    left: 5px;
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/icons/nav-arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    content: '';
                }
            }
        }

        &_text {
            font-size: 16px;
            line-height: 155%;
            margin-bottom: 150px;
        }

        &_nav {
            display: flex;
            align-items: center;

            &_item {
                margin: 0 5px;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: $text;
                flex: 0 0 auto;
                background-image: url('../img/icons/chevron.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 24px 24px;
                cursor: pointer;
                
                @include def-anim;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }


            &_item-next {
                transform: rotate(180deg);
            }
        }
    }

    &__slider {
        width: calc(100% - 322px - 100px);
        overflow: hidden;
        
        &_el {
            width: 90%;
            overflow: visible;
            margin: 0 auto 0 0;

            &_sl {  
                height: 485px;
                position: relative;
                overflow: hidden;
                &_img {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: flex;
                    }
                }

                &:hover{
                    .rest__slider_el_sl_info {
                        transform: translateX(0);
                    }
                    .rest__slider_el_sl_content {
                        opacity: 0;
                    }
                }

                &_info {
                    position: absolute;
                    transform: translateX(-100%);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 40px 30px;
                    color: #fff;
                    z-index: 5;
                    @include def-anim;
                    color: #fff;
                    background-color: rgba(0,0,0, .5);
                }

                &_content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 40px 30px;
                    justify-content: space-between;
                    // background-color: rgba(#000, .6);
                    @include def-anim;

                    &_name {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 125%;
                        /* or 28px */


                        color: #FFFFFF;
                    }

                    &_info {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 125%;
                        /* or 20px */
                        
                        
                        color: #FFFFFF;
                    }

                    &_btn {
                        width: 86px;
                        height: 86px;
                        border-radius: 100%;
                        background-color: $green;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 24px 24px;
                        position: absolute;
                        top: calc(50% - 43px);
                        left: calc(50% - 43px);
                        background-image: url('../img/icons/plus-white.svg');
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {

    .rest {

        &__in {
            flex-wrap: wrap;
        }

        &__content {
            width: 100%;
            margin-bottom: 60px;

            &_title {
                margin-bottom: 25px;
            }

            &_text {
                margin-bottom: 0;
            }

            &_nav {
                display: none;
            }
        }

        &__slider {
            width: 100%;
        }
    }
}

@media (max-width: 620px) {
    .rest {

        &__content {

            
        }

        &__slider {

            &_el {

                &_sl {
                    height: 400px;
                }
            }
        }
    }
}