.partner-pay {
    background: #F9FAFD;
    &__in {
        padding: 100px 0;
    }

    &__head {
        text-align: center;
        max-width: 530px;
        width: 100%;
        margin: 0 auto;
        font-weight: 600;
        font-size: 28px;
        line-height: 135%;
        margin-bottom: 50px;
    }

    &__body {
        background: #FFFFFF;
        overflow: hidden;
        box-shadow: 0px 30px 40px rgba(57, 63, 110, 0.15);
        border-radius: 16px;
        

        &_top {
            padding: 45px;

            &_filter {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                &_name {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 135%;
                    /* identical to box height, or 19px */
                    white-space: nowrap;
                    text-align: center;
                    text-transform: uppercase;

                    /* Text / Grey */

                    color: #99A8B4;
                    margin-right: 25px;
                    margin-bottom: 10px;
                }

                &_date {
                    margin-bottom: 10px;
                    position: relative;
                    background-color: #F9FAFD;
                    
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 14px;
                    // line-height: 135%;
                    /* identical to box height, or 19px */
                    color: #99A8B4;
                    text-transform: uppercase;
                    

                    .choices__inner {
                        position: relative;
                        padding-left: 40px !important;

                        &:after {
                            width: 20px;
                            height: 20px;
                            background-image: url('../img/icons/calendar-gray.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            content: '';
                            position: absolute;
                            top: calc(50% - 10px);
                            left: 10px;
                        }
                    }
                    
                }

                &_date .choices__list {
                    width: 100% !important;
                }
            }
        }

        &_wr {
            width: 100%;
            overflow-x: auto;
            max-height: 500px;
            overflow-y: auto;
        }

        &_table {
            width: 100%;
            overflow: hidden;
            border-collapse: collapse;
            overflow-x: auto;
            

            &_headrow {

            }

            &_head {
                padding: 25px 45px;
                font-weight: 700;
                font-size: 12px;
                line-height: 135%;
                text-align: center;
                text-transform: uppercase;
                color: #99A8B4;

                &:first-child {
                    text-align: left;
                }
            }

            &_row {
                &:nth-child(even) {
                    background-color: #F9FAFD;
                }
            }

            &_item {
                padding: 20px 45px;
                white-space: nowrap;
            }

            &_item-name {
                font-weight: 600;
            }

            &_item-count {
                font-weight: 600;
                text-align: center;
            }

            &_item-pay {
                font-weight: 600;
                text-align: center;
            }
            &_item-form {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    padding: 4px 15px;
                    background-color: $green;    
                    color: #fff;
                    border-radius: 20px;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 135%;
                }
                span.dark {
                    background-color: $text;
                }
            }

            &_item-total {
                font-weight: 600;
                text-align: center;
            }
        }
    }
}

