.partner-serv {

    .serv {

        &__head {
            margin: 0 auto;
            margin-bottom: 60px;
            &_title {
                text-align: center;

                span {
                    color: $green;
                }
            }

            &_text {
                text-align: center;
            }
        }
    }
}