.filterSelect {

    &__el {

    }

    .choices__inner {
        padding: 25px !important;
        background: #FFFFFF;
        border: 1px solid #E7E9F2;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        .choices__list.choices__list--single {
            padding: 0;
        }
    }

    .choices__list.choices__list--dropdown {
        border-radius: 10px;
        border: 1px solid #E7E9F2;
        input {
            display: none;
        }

        .choices__list {
           
            .choices__item {
                padding: 20px 25px;
            }
        }
    }
}