.fltr.active {
    transform: translateX(0);
}

.fltr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #fff;
    transform: translateX(100%);
    @include def-anim;

    &__head {
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E7E9F2;
        &_name {
            font-weight: 600;
            font-size: 20px;
            line-height: 135%;
        }

        &_close {
            width: 50px;
            height: 50px;
            background-image: url('../img/icons/close.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px 30px;
        }
    }

    &__body {
        padding: 60px 15px;
        max-height: calc(100% - 300px);
        height: 100%;

        overflow-y: auto;

        &_item {
            margin-bottom: 30px;
            max-height: 80px;
            height: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_item.input {
            display: flex;
            align-items: center;
            background: #FFFFFF;
            border: 1px solid #E7E9F2;
            border-radius: 8px;
            input {
                flex: 1 0 auto;
                font-weight: 600;
                padding: 0 25px;
            }

            .label {
                font-weight: 600;
                font-size: 16px;
                line-height: 135%;
                padding: 0 25px 0 0;
            }
        }
    }

    &__action {
        width: 100%;
        padding: 44px 15px;
        background-color: #fff;
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px -15px 37px 0px rgba(34, 60, 80, 0.2);

        &_item {
            width: 100%;
        }

        &_done {
            margin-bottom: 30px;
        }

        &_reset {
            font-weight: 600;
            font-size: 16px;
            line-height: 135%;
            /* identical to box height, or 22px */

            text-align: center;

            /* Text / Grey */

            color: #99A8B4;
        }
    }
}