.mobmenu.active {
    transform: translateX(0);
}

.mobmenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transform: translateX(100%);
    @include def-anim;

    &__in {
        overflow-y: auto;
        height: 100%;
        padding-bottom: 30px;
    }

    &__head {
        padding: 50px 30px;
        background-color: $green;
        position: relative;

        &_btn {
            width: 40px;
            height: 40px;
            background-image: url('../img/icons/close-white.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80px;
            cursor: pointer;
            position: absolute;
            top: 30px;
            right: 30px;
        }

        &_avatar {
            width: 86px;
            height: 86px;
            border-radius: 100%;
            background-color: #fff;
            background-image: url('../img/icons/user-green.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            margin-bottom: 25px;
        }

        &_links  {
            color: #fff;
            &_item {
                font-weight: 500;
                display: block;
            }

            &_item-login {
                font-weight: 600;
                font-size: 20px;
                line-height: 135%;
                margin-bottom: 12px;
            }
        }
    }

    &__menu {

        &_part {
            border-bottom: 1px solid #E7E9F2;
            padding: 40px 30px;

            &_item {
                margin-bottom: 40px;
                a {
                    font-weight: 500;
                }
            }

            &:last-child {
                border: none;
            }
        }
    }

    &__ex {
        padding: 35px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #E7E9F2;

        &_tel {
            font-weight: 700;
            font-size: 18px;
            line-height: 135%;
            margin-bottom: 10px;
        }

        &_city.normalSelect {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 10px;

            .choices__inner {
                padding-left: 50px !important;
                position: relative;

                &:after {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/icons/location.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    top: calc(50% - 10px);
                    left: 10px;
                    content: '';
                }
            }
            .choices__list--dropdown {
                width: 100% !important;
            }
        }
    }

}

@media (max-width: 620px) {

    .mobmenu {

        &__tel {
            padding: 30px;
            &_item {
                width: 100%;
            }
            &_value {
                display: none;
            }

            &_text {
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 480px) {

    .mobmenu {

        &__head {

            &_logo {
                width: 150px;
                height: 70px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }
        }
    }
}
