.rent__tl {

    &_in {
        padding: 100px 0;
    }

    &_title {
        margin-bottom: 30px;
        text-align: center;
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
    }

    &_subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 165%;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
    }

    &_body {
        


        &_item_line {
            position: absolute;
            width: 50%;
            left: 0;
            border-top: 3px dashed $green;
            top: calc(50% - 1.5px);

        }
        &_item_wr {
            display: flex;
            &:nth-child(even) {
                justify-content: flex-end;

                .rent__tl_body_item_line {
                    left: unset;
                    right: 0;
                }
            }
            position: relative;

            &:after {
                position: absolute;
                height: 100%;
                bottom: 0;
                width: 3px;
                background-color: $green;
                content: '';
                left: calc(50% - 1.5px);
            }

            &:before {
                position: absolute;
                top: calc(50% - 8px);
                right: calc(50% - 8px);
                content: '';
                width: 16px;
                height: 16px;
                background-color: $green;
                border-radius: 100%;
            }

            &:first-child {
                &:after {
                    height: 50%;
                }
            }

            &:last-child {
                &:after {
                    top: 0;
                    bottom: unset;
                    height: 50%;
                }
            }
        }


        &_item {
            padding: 30px 40px;
            box-shadow: 0px 30px 40px rgba(57, 63, 110, 0.15);
            border-radius: 16px;
            background-color: #fff;
            min-height: 230px;
            position: relative;
            z-index: 2;
            width: 500px;

            

            &_head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;

                &_name {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 125%;
                    width: calc(100% - 130px);
                }

                &_icon {
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #E3E8EC;
                    flex: 0 0 auto;

                    img {
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }

            &_text {
                font-size: 14px;
                line-height: 155%;
                /* or 22px */


                /* Text / Grey */

                color: #99A8B4;
            }
        }
    }
}

@media (max-width: 1100px) {
    .rent__tl {

        &_in {
            padding: 40px 0;
        }

        &_subtitle {
            margin-bottom: 25px;
        }

        &_body {

            &_item_line {
                display: none;
            }
            &_item_wr {
                padding-bottom: 30px;

                &:before {
                    display: none !important;
                }


                &:first-child {

                    &:after {
                        top: 0;
                        height: 100%;
                    }
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &:after {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 3px;
                    left: calc(50% - 1.5px);
                    background-color: $green;
                    content: '';
                }

            }

            &_item {
                width: 100%;
                min-height: unset;

                
            }
        }
    }
}

@media (max-width: 520px) {

    .rent__tl {


        &_body {

            &_item {
                padding: 20px;
                
                &_head {
                    flex-wrap: wrap;


                    &_icon {
                        order: 1;
                        margin-bottom: 10px;
                    }

                    &_name {
                        order: 2;
                        width: 100%;
                    }
                }
            }
        }
    }
}