.object__notes {
    padding: 30px 0;
    background-color: #fff;

    &_in {
        padding: 50px;
        background: #F9FAFD;
        border-radius: 8px;
    }

    &_head {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
    }

    &_text {
        font-weight: 500;
        font-size: 14px;
        line-height: 155%;
    }
}