.invest__ind {
    background-color:#263044;

    &_in {
        padding: 100px 0;
    }

    &_head {
        margin-bottom: 90px;

        &_title {
            font-weight: 600;
            font-size: 36px;
            line-height: 135%;
            /* identical to box height, or 49px */
            
            text-align: center;
            
            color: #FFFFFF;
            margin-bottom: 20px;
            text-align: center;
        }

        &_subtitle {
            font-size: 18px;
            line-height: 155%;
            /* or 28px */
            max-width: 750px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            
            text-align: center;
            
            color: #FFFFFF;
        }
    }

    &_content {
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        

        &_head {
            padding: 30px 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #E3E8EC;

            &_name {
                max-width: 330px;
                width: 100%;
                font-weight: 600;
                font-size: 20px;
                line-height: 135%;
            }

            &_nav {
                display: flex;
                align-items: center;

                &_item {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    margin: 0 5px;
                    background: #F3F5FA;
                    cursor: pointer;
                    background-image: url('../img/icons/chevron-black.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 24px 24px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }

                &_item-prev {
                    transform: rotate(180deg);
                }

                &_item-next {
                    
                }
            }
        }

        &_slider {

            &_sl {
                display: flex;
                padding: 20px 60px;
                justify-content: space-between;
                align-items: center;
                
                
                &_vls {
                    width: 48%;

                    &_top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 50px;

                        &_item {
                            width: 48%;
                            padding: 16px 20px;
                            border: 1px solid #E3E8EC;
                            border-radius: 6px;

                            &_name {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 135%;
                                /* identical to box height, or 19px */
                                margin-bottom: 10px;
                                
                                
                                /* Text / Grey */
                                
                                color: #99A8B4;
                            }

                            &_ex {
                                font-weight: 600;
                            }
                        }
                    }
                }

                &_slider {
                    width: 48%;
                    border-radius: 6px;
                    overflow: hidden;

                    &_prev {
                        position: absolute;
                        top: calc(50% - (40px / 2));
                        left: 20px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background-image: url('../img/icons/chevron-black.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 20px 20px;
                        z-index: 3;
                        transform: rotate(180deg);
                        cursor: pointer;
                        opacity: 0.6;
                        background-color: #FFFFFF

                    }

                    &_next {
                        position: absolute;
                        top: calc(50% - (40px / 2));
                        right: 20px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background-image: url('../img/icons/chevron-black.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 20px 20px;
                        z-index: 3;
                        cursor: pointer;
                        opacity: 0.6;
                        background-color: #FFFFFF;
                    }

                    &_pag {
                        position: absolute;
                        z-index: 3;
                        bottom: 25px !important;
                        left: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &_item {
                            width: 5px;
                            height: 5px;
                            margin: 0 4px;
                            border-radius: 100%;
                            opacity: .4;
                            @include def-anim;
                            background-color: #fff;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        &_item.active {
                            transform: scale(1.4);
                            opacity: 1;
                        }
                    }

                    &_sl {
                        

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1000px) {

    .invest__ind {

        &_in {

        }

        &_content {

            &_slider {

                &_sl {
                    flex-wrap: wrap;

                    &_vls {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    &_slider {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {

    .invest__ind {

        &_content {

            &_head {
                flex-wrap: wrap;
                padding: 20px;

                &_name {
                    width: 100%;
                    max-width: unset;
                    margin-bottom: 10px;
                }
            }

            &_slider {
                padding: 20px;

                &_sl {
                    padding: 0;

                    &_vls {

                        &_chart {

                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .invest__ind {

        &_content {

            &_slider {

                &_sl {
                    
                    &_vls {

                        &_top {
                            flex-wrap: wrap;

                            &_item {
                                width: 100%;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}