<form class="fltr">
    <div class="fltr__head">
        <div class="fltr__head_name">Расширенный поиск</div>
        <button type="button" class="fltr__head_close"></button>
    </div>
    <div class="fltr__body">
        <div class="fltr__body_item filterSelect">
            <select class="filterSelect__el">
                <option value="Класс объекта 1">Класс объекта 1</option>
                <option value="Класс объекта 2">Класс объекта 2</option>
            </select>
        </div>
        <div class="fltr__body_item input">
            <input type="number" placeholder="Сумма от">
            <div class="label">млн. руб</div>
        </div>
        <div class="fltr__body_item input">
            <input type="number" placeholder="Сумма от">
            <div class="label">млн. руб</div>
        </div>
        <div class="fltr__body_item filterSelect">
            <select class="filterSelect__el">
                <option value="Класс объекта 1">Класс объекта 1</option>
                <option value="Класс объекта 2">Класс объекта 2</option>
            </select>
        </div>
    </div>
    <div class="fltr__action">
        <button type="button" class="fltr__action_item fltr__action_done button button-green">
            <div class="button__text">Применить фильтры</div>
        </button>
        <button type="button" class="fltr__action_item fltr__action_reset">Сбросить</button>
    </div>
</form>