<div class="hero-nav">
    <div class="container">
        <div class="hero-nav__in">
            <div class="hero-nav__list">
                <a href="#" class="hero-nav__item">О сервисе</a>
                <a href="#" class="hero-nav__item">Проекты</a>
                <a href="#" class="hero-nav__item">Команда</a>
                <a href="#" class="hero-nav__item">Презентации</a>
                <a href="#" class="hero-nav__item">Контакты</a>
            </div>
            <button data-micromodal-trigger="modalPres" class="hero-nav__link">
                Скачать презентацию
            </button>
        </div>
    </div>
</div>