<a href="#" class="map__card">
    <div class="map__card_main">
        <div class="map__card_main_list">
            <div class="map__card_main_list_item map__card_main_list_item-green">Лучшая цена</div>
            <div class="map__card_main_list_item map__card_main_list_item-yellow">ТОП по отзывам</div>
            <div class="map__card_main_list_item map__card_main_list_item-white">Рекомендуем</div>
            <div class="map__card_main_list_item map__card_main_list_item-aqua">Без депозита</div>
            <div class="map__card_main_list_item map__card_main_list_item-purple">Скидка 30%</div>
        </div>
        <div class="map__card_main_rate">
            5.0
        </div>
        <div class="map__card_main_slider swiper">
            <div class="map__card_main_slider_wr swiper-wrapper">
                <div class="map__card_main_slider_sl swiper-slide">
                    <picture>
                        <source srcset="" type="image/webp">
                        <img src="./img/map-slide.png" alt="">
                    </picture>
                </div>
                <div class="map__card_main_slider_sl swiper-slide">
                    <picture>
                        <source srcset="" type="image/webp">
                        <img src="./img/map-slide.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="map__card_info">
        <div class="map__card_info_name">1 комната, 35 м2, 2/12 этаж</div>
        <div class="map__card_info_bottom">
            <div class="map__card_info_bottom_ex">
                <div class="map__card_info_bottom_ex_icon">
                    <img src="./img/icons/sun.svg" alt="">
                </div>
                <div class="map__card_info_bottom_ex_text">До моря 950 м</div>
            </div>
            <div class="map__card_info_bottom_price">
                7000  ₽/сут
            </div>
        </div>
    </div>
</a>