<a href="#" class="press-card">
    <div class="press-card_img">
        <picture>
            <source srcset="" type="image/webp">
            <img src="./img/press/press.png" alt="">
        </picture>
    </div>
    <div class="press-card_text">
        Государственные инициативы по поддержке коммерческой недвижимости
    </div>
    <div class="press-card_info">
        <div class="press-card_info_day">02</div>
        <div class="press-card_info_ex">
            <div class="press-card_info_ex_mnth">мар</div>
            <div class="press-card_info_ex_yr">2022</div>
        </div>
    </div>
</a>